<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
    
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    
  <!-- Default favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon-light.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32-light.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16-light.png' | relative_url }}">
    
  <!-- Light mode favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon-light.png' | relative_url }}" media="(prefers-color-scheme: light)">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32-light.png' | relative_url }}" media="(prefers-color-scheme: light)">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16-light.png' | relative_url }}" media="(prefers-color-scheme: light)">
    
  <!-- Dark mode favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon-dark.png' | relative_url }}" media="(prefers-color-scheme: dark)">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32-dark.png' | relative_url }}" media="(prefers-color-scheme: dark)">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16-dark.png' | relative_url }}" media="(prefers-color-scheme: dark)">
  <link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}">
    
    <script type="text/x-mathjax-config">
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']],
            },
            options: {
                skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
            }
        };
        
    </script>
    <script>
        window.MathJax = {
          tex: {
              tags: 'ams'
          }  
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>
  </head>
  <body>
    <div class="site-title-small">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </div>
    
    <div class="paper-content">
      {{ content }}
    </div>
    
<footer>
  <footer class="site-footer-small" style="white-space: nowrap;">
    <p><a href="{{ '/about' | relative_url }}">About Me</a> | <a href="mailto:kettle.corn.with.a.Q.U@gmail.com">Contact Me</a> | <a href="{{ '/' | relative_url }}">Stuff</a></p>
  </footer>
</footer>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>